@mixin theme-light {
    --theme-background: white;
    --theme-background-20: rgba(255, 255, 255, 0.2);
    --theme-background-40: rgba(255, 255, 255, 0.4);
    --theme-background-85: rgba(255, 255, 255, 0.85);

    --theme-card: white;

    --theme-foreground: black;
    --theme-foreground-2: rgba(0, 0, 0, 0.02);
    --theme-foreground-3: rgba(0, 0, 0, 0.03);
    --theme-foreground-5: rgba(0, 0, 0, 0.05);
    --theme-foreground-8: rgba(0, 0, 0, 0.08);
    --theme-foreground-10: rgba(0, 0, 0, 0.1);
    --theme-foreground-15: rgba(0, 0, 0, 0.15);
    --theme-foreground-20: rgba(0, 0, 0, 0.2);
    --theme-foreground-40: rgba(0, 0, 0, 0.4);
    --theme-foreground-50: rgba(0, 0, 0, 0.5);
    --theme-foreground-60: rgba(0, 0, 0, 0.6);
    --theme-foreground-70: rgba(0, 0, 0, 0.7);

    --theme-divider: rgba(0, 0, 0, 0.15);

    --theme-switch-knob: #171a22;
    --theme-switch-knob-true: #171a22;
}

@mixin theme-dark {
    --theme-background: #11141c;
    --theme-background-20: rgba(17, 20, 28, 0.2);
    --theme-background-40: rgba(17, 20, 28, 0.4);
    --theme-background-85: rgba(17, 20, 28, 0.85);

    --theme-card: #171a22;

    --theme-foreground: #ececec;
    --theme-foreground-2: rgba(236, 236, 236, 0.02);
    --theme-foreground-3: rgba(236, 236, 236, 0.03);
    --theme-foreground-5: rgba(236, 236, 236, 0.05);
    --theme-foreground-8: rgba(236, 236, 236, 0.08);
    --theme-foreground-10: rgba(236, 236, 236, 0.1);
    --theme-foreground-15: rgba(236, 236, 236, 0.15);
    --theme-foreground-20: rgba(236, 236, 236, 0.2);
    --theme-foreground-30: rgba(236, 236, 236, 0.3);
    --theme-foreground-40: rgba(236, 236, 236, 0.4);
    --theme-foreground-50: rgba(236, 236, 236, 0.5);
    --theme-foreground-60: rgba(236, 236, 236, 0.6);
    --theme-foreground-70: rgba(236, 236, 236, 0.7);

    --theme-divider: rgba(255, 255, 255, 0.15);

    --theme-switch-knob: white;
    --theme-switch-knob-true: white;
}

:root {
    @include theme-dark;

    --theme-primary-transparent-most: rgba(20, 74, 250, 0.05);
    --theme-primary-transparent-more: rgba(20, 74, 250, 0.1);
    --theme-primary-transparent: rgba(20, 74, 250, 0.2);
    --theme-primary-transparent-30: rgba(20, 74, 250, 0.3);
    --theme-primary-transparent-40: rgba(20, 74, 250, 0.4);
    --theme-primary-transparent-60: rgba(20, 74, 250, 0.6);
    --theme-primary-transparent-70: rgba(20, 74, 250, 0.7);
    --theme-primary-transparent-80: rgba(20, 74, 250, 0.8);
    --theme-primary-lightest: #98affa;
    --theme-primary-lighter: #5d83fd;
    --theme-primary-light: #3664fa;
    --theme-primary: #144afa;
    --theme-primary-dark: #0f3eda;
    --theme-primary-darker: #0b35be;
    --theme-primary-darkest: #092da3;

    --theme-link: #144afa;
    --theme-link-visited: #7814fa;

    --theme-red-transparent-most: rgba(255, 23, 68, 0.05);
    --theme-red-transparent-more: rgba(255, 23, 68, 0.1);
    --theme-red-transparent: rgba(255, 23, 68, 0.2);
    --theme-red-transparent-30: rgba(255, 23, 68, 0.3);
    --theme-red-transparent-40: rgba(255, 23, 68, 0.4);
    --theme-red-transparent-60: rgba(255, 23, 68, 0.6);
    --theme-red-lightest: rgb(253, 131, 156);
    --theme-red-lighter: #ff5c7c;
    --theme-red-light: #ff3a61;
    --theme-red: #ff1744;
    --theme-red-dark: #e9143f;
    --theme-red-darker: #cf1238;
    --theme-red-darkest: #ac0f2e;

    --theme-error-transparent-most: rgba(255, 23, 68, 0.05);
    --theme-error-transparent-more: rgba(255, 23, 68, 0.1);
    --theme-error-transparent: rgba(255, 23, 68, 0.2);
    --theme-error: #ff1744;

    --theme-green-transparent-most: rgba(0, 230, 118, 0.05);
    --theme-green-transparent-more: rgba(0, 230, 118, 0.1);
    --theme-green-transparent: rgba(0, 230, 118, 0.2);
    --theme-green-transparent-30: rgba(0, 230, 118, 0.3);
    --theme-green-transparent-40: rgba(0, 230, 118, 0.4);
    --theme-green-transparent-60: rgba(0, 230, 118, 0.6);
    --theme-green-lightest: hsl(151, 46%, 77%);
    --theme-green-lighter: hsl(151, 74%, 66%);
    --theme-green-light: hsl(151, 75%, 62%);
    --theme-green: #00e676;
    --theme-green-dark: #00d17a;
    --theme-green-darker: #00b16d;
    --theme-green-darkest: #00a07d;

    --theme-blue-transparent-most: rgba(20, 74, 250, 0.05);
    --theme-blue-transparent-more: rgba(20, 74, 250, 0.1);
    --theme-blue-transparent: rgba(20, 74, 250, 0.2);
    --theme-blue-transparent-30: rgba(20, 74, 250, 0.3);
    --theme-blue-transparent-40: rgba(20, 74, 250, 0.4);
    --theme-blue-transparent-60: rgba(20, 74, 250, 0.6);
    --theme-blue-lightest: #98affa;
    --theme-blue-lighter: #5d83fd;
    --theme-blue-light: #3664fa;
    --theme-blue: #144afa;
    --theme-blue-dark: #0f3eda;
    --theme-blue-darker: #0b35be;
    --theme-blue-darkest: #092da3;

    --theme-avatar: var(--theme-green);

    --theme-favorite: #fab914;
    --theme-favorite-transparent-most: rgba(250, 185, 20, 0.1);
    --theme-favorite-transparent-more: rgba(250, 185, 20, 0.2);
    --theme-favorite-transparent: rgba(250, 185, 20, 0.3);
    --theme-favorite-transparent-less: rgba(250, 185, 20, 0.4);
    --theme-favorite-transparent-least: rgba(250, 185, 20, 0.5);

    --theme-transition-faster: 0.1s;
    --theme-transition-fast: 0.2s;
    --theme-transition: 0.3s;
    --theme-transition-slow: 0.4s;
    --theme-transition-slower: 0.6s;
    --theme-transition-slowest: 1s;

    --theme-easing-smooth: cubic-bezier(0.16, 0.93, 0, 1);
    --theme-easing-spring: cubic-bezier(0.1, 1.34, 0.01, 0.99);
    --theme-easing-burst: cubic-bezier(0.1, 1, 0, 1);
    --theme-easing-exit: cubic-bezier(0.58, 0, 0.68, 0.91);

    --mdc-theme-primary: var(--theme-primary);
    --mdc-theme-secondary: var(--theme-primary);
}

.theme--dark {
    @include theme-dark;
}

.theme--green {
    --theme-primary-transparent-most: var(--theme-green-transparent-most);
    --theme-primary-transparent-more: var(--theme-green-transparent-more);
    --theme-primary-transparent: var(--theme-green-transparent);
    --theme-primary-transparent-30: var(--theme-green-transparent-30);
    --theme-primary-transparent-40: var(--theme-green-transparent-40);
    --theme-primary-transparent-60: var(--theme-green-transparent-60);
    --theme-primary-lightest: var(--theme-green-lightest);
    --theme-primary-lighter: var(--theme-green-lighter);
    --theme-primary-light: var(--theme-green-light);
    --theme-primary: var(--theme-green);
    --theme-primary-dark: var(--theme-green-dark);
    --theme-primary-darker: var(--theme-green-darker);
    --theme-primary-darkest: var(--theme-green-darkest);
}
