@use "theme";
@use "utils";

@import "layout/index";
@import "components/index";
@import "pages/index";
@import "theme";

* {
    min-width: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    background: var(--theme-background);
    transition: background-color var(--theme-transition-slow) var(--theme-easing-smooth);
}

body,
button,
input,
textarea,
label {
    font-family: "Inter", sans-serif;
    color: var(--theme-foreground);
}

button {
    border: none;
    outline: none;
}

hr {
    border: none;
    height: 1px;
    background: var(--theme-foreground-15);
}

input.double {
    display: inline-flex;
    width: 100%;
}

input {
    height: 48px;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    align-items: center;
    font-size: 15px;
    transition: background-color var(--theme-transition-fast);
}

input:not(input[type="submit"]) {
    background: var(--theme-foreground-5) !important;
    color: var(--theme-foreground) !important;
    border: none;
    outline: none;
    padding: 0 28px;
    width: 320px;
    font-weight: 400;
}

input:not(input[type="submit"]):hover {
    background: var(--theme-foreground-8) !important;
}

input:not(input[type="submit"]):focus {
    background: var(--theme-foreground-10) !important;
}

input[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    justify-content: center;
    cursor: pointer;
    background: var(--theme-primary);
    color: white;
    font-weight: 700;
}

input[type="submit"]:hover {
    background: var(--theme-primary-dark);
}

input[type="submit"]:active {
    transition: background-color var(--theme-transition-faster);
    background: var(--theme-primary-darker);
}
