._wrapper {
    margin: auto;
    width: 95%;
    max-width: 900px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 95px;

    .left h1 {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .navbar__links {
        display: flex;
        align-items: center;
        gap: 12px;
    }
}
